*{
    margin:0;
    padding:0;
}

// $mobile_size :450px;

@mixin mobile($mobile_size){
  @media (max-width: $mobile_size) {
      @content
      
  }
}
html,body{
    overflow:hidden;
    height:100vh;
    width: 100vw;

}

.pagestyle{
    color: #232129;
    padding: 96;
    font-family: -apple-system, Roboto, sans-serif, serif;
    background-image: linear-gradient(167deg, cornflowerblue , transparent 115%),url('../images/background.jpeg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height:100vh;
    width:100vw;
    // color: ;

    // @include mobile(450px){
    //     background-size: 100% 100% ;
    // }

}

.card{
    transform: translateX(100px);
}